<?xml version="1.0"?>
<robot name="light_sensor" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find raspimouse_description)/urdf/sensors/lrf.gazebo.xacro"/>

  <xacro:macro name="lrf_sensor" params="prefix parent *joint_origin">
    <joint name="${prefix}_joint" type="fixed">
      <insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}"/>
    </joint>

    <link name="${prefix}">
      <visual>
        <geometry>
          <mesh filename="package://raspimouse_description/meshes/dae/sensor/URG_center.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://raspimouse_description/meshes/dae/sensor/URG_center.dae"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.160" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
          iyy="0.0001" iyz="0.0"
          izz="0.0001" />
      </inertial>
    </link>

    <!-- Set up laser gazebo details -->
    <hokuyo_laser />
  </xacro:macro>
</robot>
