<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find raspimouse_description)/urdf/body/body_urg.gazebo.xacro" />
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:property name="velocity_scale_factor" value="1.0" />
  <xacro:macro name="base" params="parent *joint_origin">
    <joint name="base_joint" type="fixed">
      <xacro:insert_block name="joint_origin" />
      <parent link="${parent}" />
      <child link="base_link" />
    </joint>
    <link name="base_link">
      <visual>
        <geometry>
          <mesh filename="package://raspimouse_description/meshes/dae/body/RasPiMouse_body-TopPlate.dae" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://raspimouse_description/meshes/dae/body/RasPiMouse_body-TopPlate.dae" />
        </geometry>
      </collision>
      <inertial>

        <!-- NOTE BEGINNING -->
        <!-- Biased origin causes the slipping problem. -->
        <!-- Not solved yet. -->
        <!-- NOTE END -->
        <!-- real origin -->
        <!-- <origin xyz="&#45;0.003851 &#45;0.000443 0.031714" /> -->
        <!-- virtual origin -->
        <origin xyz="-0.000851 -0.000003 0.031714" />

        <mass value="0.759881" />
        <inertia ixx="0.001561279589" ixy="0.00000150035" iyy="0.001698462955" ixz="0.000042679786" iyz="0.000023629024" izz="0.000855782529" />
      </inertial>
    </link>
  </xacro:macro>
</robot>
